# Ignore everything
# *

# !*.env

# Un-ignore the desired file types
!*.py
!*.csv
!*.md
!*.bat
!requirements.txt
!Dockerfile
!docker-compose.yml
!.dockerignore

!*.jpg
!*.pdf

# Un-ignore all directories so git can traverse them
!*/

# Don't ignore the .gitignore file itself
!.gitignore

# Ignore the Lib folder
Lib/
legacy_scripts/!*.jpg
